.box1{
   display: flex;
   justify-content:space-around;
   flex-wrap: wrap;
   margin: 30px;
  
  
}
.cards:hover{
   transform : scale(1.05);
}
.cards{
    width: 300px;
    
    height: fit-content;
    margin: 35px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
   
}
img{
    width: 260px;
    height: 200px;
    margin-bottom: 10px;
}
.card-title{
    margin-bottom: 20px;
}